@function img($file) {
    @return url('/src/assets/img/'+ $file);
}

@mixin flexAlign($jcontent, $alcontent) {
    display        : flex;
    justify-content: $jcontent;
    align-items    : $alcontent;
}

@mixin flexFlow($direction) {
    flex-flow      : $direction wrap;
}

@mixin mobile() {
    @media (min-width: $screenSmall) {
        @content;
    }
}

@mixin tablet() {
    @media (min-width: $screenMedium) {
        @content;
    }
}

@mixin laptop() {
    @media (min-width: $screenLarge) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: $screenExtralarge) {
        @content;
    }
}