// Variables - CSS
:root {
    --primary-color      : #90afc5;
    --primary-modal-color: rgb(144, 175, 197, .85);
    --dark-primary-color : #336b87;
    --secondary-color    : #763626;
    --text-primary       : #2a3132;
    --white              : #fff;
    --gray               : #808080;
    --black              : #000;
    --letter-spacing     : 1px;
    --border-radius      : 30px;
    --opacity            : .7;
    --z-back             : -10;
    --z-normal           : 1;
    --z-tooltip          : 10;
    --z-fixed            : 100;
    --z-modal            : 1000;
}

// Colors
$primary-color       : var(--primary-color);
$primary-modal-color : var(--primary-modal-color);
$secondary-color     : var(--secondary-color);
$dark-primary-color  : var(--dark-primary-color);
$text-primary        : var(--text-primary);
$white               : var(--white);
$gray                : var(--gray);
$black               : var(--black);

// Variables
$letter-spacing: var(--letter-spacing);
$border-radius : var(--border-radius);
$opacity       : var(--opacity);


// Z index
$z-back    : var(--z-back);
$z-normal  : var(--z-normal);
$z-tooltip : var(--z-tooltip);
$z-fixed   : var(--z-fixed);
$z-modal   : var(--z-modal);

// Breakpoints
$screenSmall  : 320px;
$screenMedium : 768px;
$screenLarge  : 992px;
$screenExtralarge: 1200px;