<div class="title">
    <h2>Crianza y manada</h2>
</div>

<section class="slider">
    <div class="slider-slides">
        <div class="slider-slide active">
            <img src="/assets/img/slide-breeding.jpg" alt="">
            <p>Como muchos otros mamíferos, el lobo presenta un comportamiento gregario, es decir, que vive en manadas. En el caso de los lobos, cada manada tiene un estricto orden social según jerarquías en las que cada individuo debe cumplir una función específica.</p>
        </div>
        <div class="slider-slide">
            <img src="/assets/img/slide-puppy.jpg" alt="">
            <p>En general, solo los líderes macho y hembra, pueden reproducirse. De hecho, en manadas de fuerte cohesión, las otras hembras ni siquiera entran en celo. Por eso, los machos suelen salir en busca de parejas sexuales hacia otras manadas.
            En cada camada pueden nacer entre 5 y 8 cachorros que pueden ser criados por toda la manada o solo por la madre.</p>
        </div>
        <div class="slider-slide">
            <img src="/assets/img/slide-wolf.jpg" alt="">
            <p>Existe un líder macho y un líder hembra, y ambos controlan los recursos y son seguidos por el resto de los miembros de la manada, que suele tener entre 8 y 20 integrantes.</p>
        </div>
    </div>
    <div class="slider-btns">
        <a class="prev">&laquo;</a>
        <a class="next">&raquo;</a>
    </div>
</section>