<div class="title">
    <h2>Crianza y manada</h2>
</div>

<div class="slider">
    <div class="slider-slides">
        <div class="slider-slide active">
            <img src="/assets/img/slide-breeding.jpg" alt="">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, totam exercitationem, quaerat quo nulla at dolorem distinctio doloremque et id excepturi. Provident dolorem earum fugiat!
            </p>
        </div>
        <div class="slider-slide">
            <img src="/assets/img/slide-puppy.jpg" alt="">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, totam exercitationem, quaerat quo nulla at dolorem distinctio doloremque et id excepturi. Provident dolorem earum fugiat!
            </p>
        </div>
        <div class="slider-slide">
            <img src="/assets/img/slide-wolf.jpg" alt="">
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, totam exercitationem, quaerat quo nulla at dolorem distinctio doloremque et id excepturi. Provident dolorem earum fugiat!
            </p>
        </div>
    </div>
    <div class="slider-btns">
        <a class="prev">&laquo;</a>
        <a class="next">&raquo;</a>
    </div>
</div>