<div class="title">
    <h2>Alimentación</h2>
</div>

<section class="food-cards">
    <div class="food-card">
        <figure>
            <img src="/assets/img/food-buffalo.jpg" alt="Búfalo" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-reindeer.jpg" alt="Renos" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-sheep.jpg" alt="Una oveja" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Lorem ipsum dolor sit amet.</h4>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>
</section>

<section class="food-info">
    <div class="info-text">
        <h3 class="info-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, perferendis?</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut minus quidem enim suscipit libero odio placeat, id repellendus animi temporibus. Eaque hic animi ipsam esse nostrum, quis eius molestias, quam labore incidunt autem, non debitis aliquam repellat alias corporis blanditiis nesciunt delectus est deleniti nulla ea! Placeat ea molestias hic!</p>
    </div>
    <div class="info-img">
        <img src="/assets/img/fierce-wolf.jpg" alt="Lobo feróz">
    </div>
</section>