<div class="title">
    <h2>Alimentación</h2>
</div>

<div class="food-cards">
    <div class="food-card">
        <figure>
            <img src="/assets/img/food-buffalo.jpg" alt="Búfalo" class="card-front">
            <figcaption class="card-back">
                <h3 class="card-title">Lorem ipsum dolor sit amet.</h3>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam
                    excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur
                    adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-reindeer.jpg" alt="Renos" class="card-front">
            <figcaption class="card-back">
                <h3 class="card-title">Lorem ipsum dolor sit amet.</h3>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam
                    excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur
                    adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-sheep.jpg" alt="Una oveja" class="card-front">
            <figcaption class="card-back">
                <h3 class="card-title">Lorem ipsum dolor sit amet.</h3>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolorem fugit labore nam
                    excepturi a maiores distinctio, possimus quos, earum dolorum, ex officia. Repellat id quis tenetur
                    adipisci officiis delectus.</p>
            </figcaption>
        </figure>
    </div>
</div>