<div class="title">
    <h2>Alimentación</h2>
</div>

<section class="food-cards">
    <div class="food-card">
        <figure>
            <img src="/assets/img/food-deer.jpg" alt="Ciervo" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Los ciervos</h4>
                <hr>
                <p>Sólo tienen el recurso de la huida y en el caso de los más pequeños el camuflaje, pues los machos rara vez usan sus cuernos para luchar contra ellos por ser poco efectivos contra los carnívoros. </p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-reindeer.jpg" alt="Renos" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Los renos</h4>
                <hr>
                <p>Debido a su gran tamaño, es un buen blanco para un lobo ya que utilizan mucho trabajo en equipo, la resistencia, la inteligencia y las poderosas mandíbulas para derribar fácilmente a un reno adulto.</p>
            </figcaption>
        </figure>
    </div>

    <div class="food-card">
        <figure>
            <img src="/assets/img/food-sheep.jpg" alt="Una oveja" class="card-front">
            <figcaption class="card-back">
                <h4 class="card-title">Las ovejas</h4>
                <hr>
                <p>Tienen poca capacidad para defenderse a sí mismas en comparación con otras especies criadas como ganado. Incluso en el caso de sobrevivir a un ataque, pueden morir a causa de sus lesiones, o simplemente de pánico</p>
            </figcaption>
        </figure>
    </div>
</section>

<section class="food-info">
    <div class="info-text">
        <h3 class="info-title">Otros hábitos de alimentación</h3>
        <p>Otras presas incluyen mamíferos marinos como las focas y ballenas varadas.​ El canibalismo entre los lobos ha sido documentado en tiempos de escasez de alimentos. Los lobos solitarios dependen más de animales pequeños que pueden cazar saltando encima de ellos y sujetándolos con sus patas delanteras, aunque se han documentado casos de individuos solitarios que han podido llegar a cazar animales de gran tamaño.</p>
        <br>
        <p>También cazan roedores, aves y otros animales pequeños. Un solo lobo suele comer entre 3,2 - 3,5 kg de comida de una vez, aunque pueden llegar a comer de 7 - 14 kg. en situaciones excepcionales cuando escasea el alimento. El alimento anual requerido es de alrededor de 1,5 toneladas de carne.​ Pueden sobrevivir largos períodos sin probar bocado. El caso extremo lo muestra un registro ruso que afirma que un ejemplar sobrevivió diecisiete días sin alimento.​ Después de comer, los lobos ingerirán copiosas cantidades de agua para prevenir problemas urémicos.​ El estómago de un lobo puede albergar 7,5 litros de agua.</p>
    </div>
    <div class="info-img">
        <img src="/assets/img/fierce-wolf.jpg" alt="Lobo feróz">
    </div>
</section>