<div class="title">
    <h2>Hábitat</h2>
</div>

<section class="cards">
    <div class="card">
        <img src="/assets/img/card-snow.jpg" alt="lobos en nieve">
        <p>En América del Norte, ocupan el norte de Groenlandia, varias islas árticas y gran extensión de Canadá. Estados Unidos apenas conserva unas poblaciones fragmentadas y en México se conservan pocos individuos en cautiverio.</p>
    </div>
    <div class="card">
        <img src="/assets/img/card-wolf.jpg" alt="lobo en la nieve">
        <p>Rusia, China, Kazajistán, Nepal y Mongolia son países con gran presencia de subespecies de lobos. </p>
    </div>
    <div class="card">
        <img src="/assets/img/card-forest.jpg" alt="lobo en el bosque">
        <p>Se adaptan a diversos ecosistemas por lo que pueden encontrarse diferentes especies en Europa, Asia y América del Norte. Se los encuentra en zonas boscosas.</p>
    </div>
</section>

<section class="habitat-banner">
    <span class="banner-title">
        <p>El lobo tiene gran valor espiritual para antiguas culturas y pueblos indígenas.</p>
    </span>
</section>