<div class="title">
    <h2>Hábitat</h2>
</div>

<section class="cards">
    <div class="card">
        <img src="/assets/img/card-snow.jpg" alt="lobos en nieve">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deserunt vel nemo sit earum optio explicabo distinctio? Beatae rem voluptas ducimus consequatur magni sunt, accusamus, similique officiis dolorem perferendis doloremque.</p>
    </div>
    <div class="card">
        <img src="/assets/img/card-wolf.jpg" alt="lobos en nieve">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deserunt vel nemo sit earum optio explicabo distinctio? Beatae rem voluptas ducimus consequatur magni sunt, accusamus, similique officiis dolorem perferendis doloremque.</p>
    </div>
    <div class="card">
        <img src="/assets/img/card-snow.jpg" alt="lobos en nieve">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deserunt vel nemo sit earum optio explicabo distinctio? Beatae rem voluptas ducimus consequatur magni sunt, accusamus, similique officiis dolorem perferendis doloremque.</p>
    </div>
</section>