<section class="banner">
    <div class="wrap">
        <h1>El lobo</h1>
        <p>Uno de los animales más impresionantes de la naturaleza
            <span>Ven y conócelo</span>
        </p>
    </div>
</section>

<section class="info">
    <div class="title">
        <h2>Algunos datos</h2>
    </div>
    <div class="data">
        <div class="wrap">
            <h3>Características</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, molestias. Omnis quidem, quaerat eaque exercitationem minus provident, accusantium amet veritatis aliquid eos neque tempore ab adipisci ullam consequatur debitis et.</p>
        </div>
        <div class="wrap">
            <h3>Habilidades</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, molestias. Omnis quidem, quaerat eaque exercitationem minus provident, accusantium amet veritatis aliquid eos neque tempore ab adipisci ullam consequatur debitis et.</p>
        </div>
    </div>
</section>