.cards {
    @include flexAlign(space-around, center);

    .card {
        padding           : 1.75rem;
        margin            : 1.25rem 0;
        background-color  : $primary-color;
        border-radius     : $border-radius;
        transition        : box-shadow .3s linear;
        -moz-transition   : box-shadow .3s linear;
        -webkit-transition: box-shadow .3s linear;
        -o-transition     : box-shadow .3s linear;

        &:hover {
            box-shadow: 0 0 5px 1px $black;
        }

        img {
            width        : 100%;
            margin-bottom: .75rem;
            border-radius: $border-radius;
        }

        p {
            color: $text-primary;
        }
    }
}

@include mobile {
    .cards {
        @include flexFlow(column);

        .card {
            width: 80vw;
        }
    }
}

@include tablet {
    .cards {
        @include flexFlow(row);

        .card {
            width: 40vw;
        }
    }
}

@include laptop {
    .cards {
        .card {
            width: 30vw;
        }
    }
}