.habitat-banner {
    width           : 100%;
    margin          : 3rem 0;
    position        : relative;
    overflow        : hidden;
    background-color: $black;
    clip-path       : polygon(0 10%, 50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%);
    @include flexAlign(center, center);

    &::before {
        content        : '';
        position       : absolute;
        top            : 0;
        left           : 0;
        width          : 100%;
        height         : 100%;
        background     : url('https://res.cloudinary.com/dj8k1j78s/image/upload/v1681854936/habitat-banner_cgkadr.jpg') no-repeat left 30px fixed;
        background-size: cover;
        opacity        : $opacity;
    }

    .banner-title {
        position  : relative;
        padding   : .25rem;
        text-align: center;

        p {
            position : relative;
            font-size: 1.25rem;
            color    : $white;
        }
    }
}

@include mobile {
    .habitat-banner {
        height: 350px;
    }
}

@include laptop {
    .habitat-banner {
        height: 500px;
    }
}