.panel-btn {
    position        : fixed;
    bottom          : 9vh;
    right           : 1vw;
    width           : 4rem;
    height          : 4rem;
    z-index         : $z-fixed;
    border-radius   : $border-radius;
    background-color: $primary-color;
    @include flexAlign(center, center);

    .hamburger-inner,
    .hamburger-inner::after,
    .hamburger-inner::before {
        width           : 35px;
        background-color: $secondary-color;
    }
}

@include tablet {
    .panel-btn {
        display: none;
    }
}